@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align:center;
  width:auto;
  overflow: hidden;
  max-width: auto;
  padding:0 0;
}

.splash-image{
  background: url('./images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  position:relative;
  padding-bottom:3em;
  height:75vh
}
.logo-row{
  text-align:left;
  max-width:30em;
  padding-top:1em;
  padding-left:1em;
}
.logo-row p{
  padding-left:3em;
  color: #141431;
}
.logo{
  width:100%;
}
.company-pitch{
  background-color:#fff;
  font-size: 1rem;
  color: #141431;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
  padding-bottom:3em;
  height:100%
}
h1{
  font-size:3em;
  line-height:.5em;
}
button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:4px;
  font-size:2rem;
  background-color: #141431;
  color: white;
  border: none;
  margin-top:.5em;
}
.secondary-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:4px;
  font-size:2rem;
  background-color: white;
  color: #141431;
  border: none;
  margin-top:.5em;
}
.client-portfolio{
  background-color:#141431;
  font-size: 1rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
  padding-bottom:3em;
  height:100%
}
.consultation-form{
  background-color:#fff;
  font-size: 1rem;
  color: #141431;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
  padding-bottom:3em;
  height:100%
}
input{
  width:40%;
  height:1em;
  border: 0;
  margin-bottom:2em;
  font-size:1em;
  font-weight:700;
  padding:1em;
  border:2px solid black;
}
textarea{
  width:40%;
  height:1em;
  border: 0;
  margin-bottom:2em;
  font-size:1em;
  font-weight:700;
  padding:1em;
  border:2px solid black;
}
.label{
  font-size:1em;
  font-weight:700;
}